.my-table {
    border: 1px solid black;
    margin: 5px;
}
img {
    height: 30%;
    width: 30%;
}

.green {
    background-color: green;
}
.red {
    background-color: red;
}
.yellow {
    color: yellow;
}



.not-display-element {
    display: none;
}

.order-table {
    border: 1px solid black;
}